{
  "swagger": "2.0",
  "info": {
    "title": "Linkrot",
    "description": "I built this system to help me address linkrot across all of my sites. It allows me to record external and internal sites I link to, and monitor their availability, while taking screenshots to preserve a minimal integrity.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "linkrot.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/linkrot/": {
      "get": {
        "summary": "get links",
        "description": "get links",
        "operationId": "getLinks",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the linkrot",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the linkrot",
            "required": true,
            "type": "string"
          },
          {
            "name": "host",
            "in": "query",
            "description": "the host to apply linkrot to",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "linkrot response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        },
        "tags": [
          "Linkrot"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add linkrot",
        "description": "add linkrot",
        "operationId": "addLinkrot",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "a list of links from the DOM in the page (need more detail)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/link"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "add links response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/link"
              }
            }
          }
        },
        "tags": [
          "Linkrot"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/linkrot/checkstatus/": {
      "get": {
        "summary": "get links",
        "description": "get links",
        "operationId": "getLinks",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the linkrot",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the linkrot",
            "required": true,
            "type": "string"
          },
          {
            "name": "host",
            "in": "query",
            "description": "the host to check status of",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "linkrot check status response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/status"
              }
            }
          }
        },
        "tags": [
          "Linkrot"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/linkrot/shortenurls/": {
      "get": {
        "summary": "get links",
        "description": "get links",
        "operationId": "getLinks",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the linkrot",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the linkrot",
            "required": true,
            "type": "string"
          },
          {
            "name": "host",
            "in": "query",
            "description": "the host to shorten urls for",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "linkrot shorten urls response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/shortlink"
              }
            }
          }
        },
        "tags": [
          "Linkrot"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/linkrot/screencapture/": {
      "get": {
        "summary": "get links",
        "description": "get links",
        "operationId": "getLinks",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the linkrot",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the linkrot",
            "required": true,
            "type": "string"
          },
          {
            "name": "host",
            "in": "query",
            "description": "the host to capture screenshots for",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "linkrot screenshot response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/screenshot"
              }
            }
          }
        },
        "tags": [
          "Linkrot"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "appid": {
      "type": "apiKey",
      "name": "appid",
      "in": "query"
    },
    "appkey": {
      "type": "apiKey",
      "name": "appkey",
      "in": "query"
    }
  },
  "definitions": {
    "link": {
      "properties": {
        "url": {
          "description": "url being prcoessed",
          "type": "string"
        },
        "short_url": {
          "description": "a shortened url version",
          "type": "string"
        },
        "status": {
          "description": "http status code for url",
          "type": "string"
        }
      }
    },
    "shortlink": {
      "properties": {
        "url": {
          "description": "url being prcoessed",
          "type": "string"
        },
        "short_url": {
          "description": "a shortened url version",
          "type": "string"
        }
      }
    },
    "screenshot": {
      "properties": {
        "url": {
          "description": "url being prcoessed",
          "type": "string"
        },
        "screenshot": {
          "description": "the screenshot of url",
          "type": "string"
        }
      }
    },
    "status": {
      "properties": {
        "status": {
          "description": "status response",
          "type": "string"
        }
      }
    }
  }
}
